.WithdrawStakeModal {
      display: flex;
    flex-direction: column;
    background: #ffffff1c 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 6px 6px #ffffff45;
    opacity: 1;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    width: 800px;
    padding: 50px 20px;
    box-sizing: border-box;
}

.WithdrawStakeModal__title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.WithdrawStakeModal__title img
{
    margin-right: 10px;
}